@font-face {
    font-family: 'Yekan';
    src: url(./assets/Fonts/Yekan.woff);
}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Yekan';
    overflow: hidden;

}
.continer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.Radar{
    position: relative;
    width: 55%;
    height: 100%;
    background: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    font-size: 100px;
    z-index: 1;
}
.Radar i{
    position: absolute;
    z-index: 100;
}
.circle1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: sizeUp 3s linear infinite;
    z-index: 1;
}
.circle2{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: sizeUp 3s linear infinite;
    z-index: 1;
    animation-delay: 2s;
}
.circle3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    animation: sizeUp 3s linear infinite;
    z-index: 1;
    animation-delay: 4s;
}
@keyframes sizeUp {
    from{
        width: 100px;
        height: 100px;
    }
    to{
        width: 500px;
        height: 500px;
        opacity: 0  ;
    }
}
.radarLine{
    width: 500%;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
    position: absolute;
    z-index: 1;
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.radarLineBox{
    width: 50%;
    border: 1px solid white;
    box-shadow: 0px 15px 60px 10px white;
}
.LoginForm{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-family: 'Yekan';
    position: relative;
    z-index: 2;
}
.Login{

    width: 75%;
    text-align: right;
    font-family: 'Yekan';
}
.Login a{
    font-family: 'Yekan';
    cursor: pointer;
    font-size: 19px;
    color: dodgerblue;
}
.Forms{
    width: 75%;
    text-align: right;
}
.Forms h4{
    color: gray;
}
.Forms form{
    width: 100%;
}
.Forms input{
    width: 100%;
    text-align: right;
    font-family: 'Yekan';
    font-size: 18px;
    height: 35px;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid gray;
}
.Forms img {
    margin: 5px 0 -35px 0;
}
#captcha{
    width: 70%;
}
.FormBtn{
    width: 100%;
    height: 35px;
    margin-top: 25px;
    font-family: 'Yekan';
    color: white;
    border: none;
    background-color:dodgerblue ;
    border-radius: 5px;
}
.Saveme{
    width: 15px !important;
    height: 15px !important;
    margin: 10px 0;
}
@media only screen and (max-width:600px){
    .Radar{
        width: 100%;
        height: 30%;
    }
    .LoginForm{
        width: 100%;
        height: 70%;
        font-size: 12px;
    }
    .Forms input{
        margin: 8px 0;
    }
    #captcha{
        width: 69%;
    }
}
@media only screen and (max-width:900px){
    #captcha{
        width: 69%;
    }
}